<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RB Dev</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
<style>
</style>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Randy Is Cool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!--END NAVBAR-->

<!--BODY-->

        {{{body}}}
 
<!--END BODY-->

<!--FOOTER-->
<footer class="footer" id="footer">
    <div class="container">
      <div class="row">
      
        <div class="col-md-4">
          <a href="https://www.linkedin.com/in/randall-burgess-a93a8451/"><h3>LinkedIn</h3></a>
        </div>
      
        <div class="col-md-4">
          <h1>Randy Is Cool</h1>
        </div>
      
        <div class="col-md-4">
      <a href="https://github.com/FlashOTFR"><h3>GitHub</h3></a>
        </div>

      </div>
    </div>
</footer>
<!--END FOOTER-->
</body>

</html>