<div class="container">
    <div class="row">

        <div class="col-md-12">
            <section class="center"> 
            <h1>WELCOME!</h1>
            <br>
            <br>
            <p>My name is Randall Burgess, and I will soon be completing the web development boot camp program at UW!  For weeks now I have been training alongside my fellow students to put together one of the most sought after skill sets, currently on the job market.  I have found a strong passion for coding, and am ever excited to develop more programming skills.  It is my intention to make a career out of coding, so feel free to reach out to me with any job offers, or project contracts!</p>
            </section>
        </div>

    </div>
</div>